@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  
}


/* Paleta de cores azul */

:root {
  --base-hue: 180;
  --base-sat: 75%;
  --clr-10: hsl(var(--base-hue), var(--base-sat), 10%);
  --clr-20: hsl(var(--base-hue), var(--base-sat), 20%);
  --clr-30: hsl(var(--base-hue), var(--base-sat), 30%);
  --clr-40: hsl(var(--base-hue), var(--base-sat), 40%);
  --clr-50: hsl(var(--base-hue), var(--base-sat), 50%);
  --clr-60: hsl(var(--base-hue), var(--base-sat), 60%);
  --clr-70: hsl(var(--base-hue), var(--base-sat), 70%);
  --clr-80: hsl(var(--base-hue), var(--base-sat), 80%);
  --clr-90: hsl(var(--base-hue), var(--base-sat), 90%);
  --clr-95: hsl(var(--base-hue), var(--base-sat), 95%);
}
body {
  background-color: hsl(var(--base-hue), var(--base-sat), 95%);
  color: hsl(var(--base-hue), var(--base-sat), 10%);
  width: 100%;
}

.mainpage {
  width: 100%;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;

}

header {
  width: 100%;
  padding: 15px;
  padding-top: 5px;
}

.title {
  width: 100%;
  height: 4rem;    
  border-radius: 15px;
  background-color: hsl(var(--base-hue), var(--base-sat), 10%);
  color: hsl(var(--base-hue), var(--base-sat), 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1 {
  margin-right: 10px;
}

.avatar {
  height: 300px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quest {
  color: var(--clr-40);
}

#interr {
  color: blueviolet;
}

#quantidade {
  background-color: hsl(var(--base-hue), var(--base-sat), 90%);
  border: 1px solid hsl(var(--base-hue), var(--base-sat), 10%);
  height: 1.8rem;
  border-radius: 4px;
  width: 200px;
  margin-top: 20px;
  opacity: 0.7;
  color: blueviolet;
}

.container {
  display: flex;
  align-items: center;
  width: 40%;
}

.informativo {
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.text1 {
  text-align: justify;
}

.btnsub {
  background-color: hsl(var(--base-hue), var(--base-sat), 10%);
  color: hsl(var(--base-hue), var(--base-sat), 90%);
  height: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 5px;
  width: 80px;
  opacity: 0.9;
}

.btnsub:hover {
  background-color: blueviolet;
  color: hsl(var(--base-hue), var(--base-sat), 95%);
}

button a {
  color: hsl(var(--base-hue), var(--base-sat), 90%);
  text-decoration: none;
}

.texto {
  display: flex;
  flex-direction: column;
}

.saiba {
  align-self: center;
  background-color: blueviolet;
  height: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 5px;
  width: 80px;
  opacity: 0.9;
}

.saiba:hover {
  background-color: hsl(var(--base-hue), var(--base-sat), 50%);
  color: hsl(var(--base-hue), var(--base-sat), 90%);
}

.footer {
  color: hsl(var(--base-hue), var(--base-sat), 90%);
  padding: 5px;
  background-color: hsl(var(--base-hue), var(--base-sat), 10%);
  width: 100%;
  bottom: 0;
  text-align: center;
}

