@media (max-width: 550px){
  .container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .informativo {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

}
